@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
:root {
  --background: #fff;
  --color: #620bcc;
  color: var(--color);
  background: var(--background);
  font-family: 'Fira Mono', monospace;
  font-size: 0.8rem;
}
